<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @pay.date %>
</p>

<p>
  <strong>Real ammount:</strong>
  <%= @pay.real_ammount %>
</p>

<%= link_to 'Edit', edit_pay_path(@pay) %> |
<%= link_to 'Back', pays_path %>
